<div class="dog-main">
  <div class="dog-top-profile">
    <%= cl_image_tag(@dog.cl_tag, {class: 'dog-avatar'}) %>
    <%= link_to '#' %>
      <%= cl_image_tag(@dog.user.cl_tag, class: 'owner-avatar') %>
    <% end %>
  </div>
  <div class="dog-about">
    <h2>About <%= @dog.name.capitalize %></h2>
    <div class="dog-info">
      <h2><%= @dog.breed %>, <%= @dog.colour.capitalize %>, <%= @dog.age %> years old</h2>
    </div>
    <p><%= @dog.biography %></p>
    <div class="dog-info-checklist">
      <p>Spayed/Neutered? <i class="fa-solid fa-check"></i></p>
      <p>Microchipped? <i class="fa-solid fa-check"></i></p>
      <p>House Trained? <i class="fa-solid fa-check"></i></p>
      <p>Friendly with Dogs? <i class="fa-solid fa-check"></i></p>
      <p>Friendly with Cats? <i class="fa-solid fa-check"></i></p>
      <p>Friendly with Children? <i class="fa-solid fa-check"></i></p>
    </div>
  </div>
</div>
