<div class="search-form-container">
  <%= form_with url: "/activities", method: :get, class: "search-form" do |form| %>
  <!-- dropdowns-->
  <div class="search-top">
    <div class="search-dropdown">
      <%= form.label :feature, "Select a park feature:"%>
      <%= form.select :feature, Activity.park_features, selected: Activity.park_features.first %>
    </div>
    <div class="search-dropdown">
      <%= form.label :range, "Within range (km):" %>
      <%= form.range_field :range, in: 0..20, step: '.1' %>
    </div>
  </div>
  <div class="search-bottom">
    <div class="search-checkbox">
    <!-- checkbox-->
    <%= form.check_box :meet_dogs %>
    <%= form.label :meet_dogs, "want to meet other dogs?" %>
    </div>
    <!-- submit-->
    <%= form.submit "Submit", class: "search-submit"%>
    <%= hidden_field_tag(:category, 'park') %>
  <% end %>
  </div>
</div>
