<div class="search-form-container">
  <%= form_with url: "/activities", method: :get, class: "search-form" do |form| %>
  <!-- dropdowns-->
  <div class="search-top">
    <div class="row search-dropdown" id="search-slider">
      <%= form.label :range, id: "search-slider-output" %>
      <%= form.range_field :range, in: 0..20, step: '1', data: {
        home_search_target: "slider",
        action: "change->home-search#sliderUpdate"
      } %>
    </div>
  </div>
  <div class="search-bottom">

    <!-- checkbox-->

    <!-- submit-->
    <%= form.submit "Search", class: "search-submit"%>
    <%= hidden_field_tag(:category, 'dog bin') %>
  <% end %>
  </div>
</div>
