<% activities.each do |activity| %>
  <% if activity.category == 'restaurant' %>

    <div class="container">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.svgrepo.com/show/58017/restaurant-symbol-of-cutlery-in-a-circle.svg" width="150px" heighth="150px" class="img-fluid rounded-start" alt="activity card photo">
          </div>
          <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= activity.name %></h5>
                <p class="card-text"><%= activity.restaurant_type %></p>
                <p class="card-text"><%= activity.description %></p>
              </div>
          </div>
        </div>
      </div>
    </div>


  <% elsif activity.category == 'dog bin' %>
    <div class="container">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.svgrepo.com/show/287780/garbage-bin.svg" width="150px" heighth="150px" class="img-fluid rounded-start" alt="activity card photo">
          </div>
          <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= activity.name %></h5>
              </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <div class="container">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.svgrepo.com/show/85152/public-park.svg" width="150px" heighth="150px" class="img-fluid rounded-start" alt="activity card photo">
          </div>
          <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= activity.name %></h5>
                <p class="card-text"><%= activity.park_feature %></p>
              </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>
