<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">

        <%= cl_image_tag(activity.cl_tag, width: 150, height: 150, class: "img-fluid rounded-start") %>

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= activity.name.capitalize %></h5>

          <!-- display different card info based on category -->
          <% if activity.category == "restaurant" %>
            <p class="card-text"><%= activity.restaurant_type.capitalize %></p>
          <% elsif activity.category == "park" %>
            <p class="card-text"><%= activity.park_feature.capitalize %></p>
          <% end %>
          <!--end-->

          <p class="card-text"><%= activity.description %></p>
          <p> <%= int_to_stars(activity.average_rating, 10) %> <small><%= activity.reviews.count %> Reviews </small></p>
        </div>
      </div>
    </div>
  </div>
</div>
