<%= cl_image_tag(activity.cl_tag, :format => :png, transformation:[ {width: 240, aspect_ratio: 1.5, crop: "fill"},
{radius: "25:25:0:0"} ]) %>
<div class="popup-info">
<h4><%= activity.name %></h4>
<p><%= activity.location.street %>, <%= activity.location.city %>, <%= activity.location.postcode %></p>
</div>
