<div class="navbar navbar-expand-sm navbar-light navbar-sticky">
  <div class="container-fluid">
    <%= link_to "#", class: "nav-text" do %>
      <%= cl_image_tag("https://res.cloudinary.com/dzobkrns3/image/upload/v1661172670/output-onlinepngtools_aleqvh.png", width: 80) %>Home
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class= "nav-item">
            <%= link_to new_activity_path, class: "nav-text" do %>
              <span><p class="fa-solid fa-plus"></p>Add Location</span>
            <% end %>
          </li>
          <li class= "nav-item">
            <%= link_to locations_path, class: "nav-text" do %>
              <span>Hello, <%= current_user.first_name.capitalize %></span>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag("dog-solid_wiclnh", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Parks", "#", class: "dropdown-item" %>
              <%= link_to "Restaurants", "#", class: "dropdown-item" %>
              <%= link_to "Bins", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-text" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
