<div class="profile-favourites-card">
  <div class="profile-favourites-card-image">
    <%= cl_image_tag(activity.cl_tag, width: 150, height: 150) %>
  </div>
  <div class="profile-favourites-card-info">
    <h5><%= activity.name.capitalize %></h5>

    <!-- display different card info based on category -->
    <% if activity.category == "restaurant" %>
      <p><%= activity.restaurant_type.capitalize %></p>
    <% elsif activity.category == "park" %>
      <p><%= activity.park_feature.capitalize %></p>
    <% end %>
    <!--end-->

    <p><%= activity.description %></p>
    <p class="card-review-stars"> <%= int_to_stars(activity.average_rating, 5) %>
      <small class="card-review-total">
        <%= link_to(activity_reviews_path(activity)) do %>
          <%= activity.reviews.count %> Reviews
        <% end %>
      </small>
      <%= link_to "Add review", new_activity_review_path(activity), class: "btn btn-primary-card", user: current_user %>
    </p>
      <div class="card-favourite" id="profile-card-favourite" data-controller="favourite">
        <% if activity.favourite.nil? %>
          <%= link_to(activity_favourites_path(activity), data: { turbo_method: "POST" }, activity: activity.id) do %>
            <i class="fa-regular fa-heart" data-action="click->favourite#addToFavourites" data-favourite-target="heart"></i>
          <% end %>
        <% else %>
        <% if current_user.favourites.ids.include?(activity.favourite.id) %>
          <%= link_to(activity_favourite_path(id: Favourite.where(user_id: current_user.id, favouritable_id: activity.id).first.id, activity_id: activity), data: { turbo_method: "DELETE" }, activity: activity.id) do %>
            <i class="fa-solid fa-heart" data-action="click->favourite#addToFavourites" data-favourite-target="heart"></i>
          <% end %>
        <% else %>
          <%= link_to(activity_favourites_path(activity), data: { turbo_method: "POST" }, activity: activity.id) do %>
            <i class="fa-regular fa-heart" data-action="click->favourite#addToFavourites" data-favourite-target="heart"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
