<div class="search-form-container">
  <%= form_with url: "/activities", method: :get, class: "search-form" do |form| %>
  <!-- dropdowns-->
  <div class="search-top">
    <div class="search-dropdown">
      <%= form.label :restaurant_type, "Select a restaurant type:"%>
      <%= form.select :restaurant_type, Activity.restaurant_types, selected: Activity.restaurant_types.first %>
    </div>
    <div class="row search-dropdown" id="search-slider">
      <%= form.label :range, id: "search-slider-output" %>
      <%= form.range_field :range, in: 0..20, step: '1', data: {
        home_search_target: "slider",
        action: "change->home-search#sliderUpdate"
      } %>
    </div>
  </div>
  <div class="search-bottom">
    <div class="row search-checkbox">
    <!-- checkbox-->
    <%= form.check_box :meet_dogs %>
    <%= form.label :meet_dogs, "want to meet other dogs?" %>
    </div>
    <!-- submit-->
    <%= form.submit "Submit", class: "search-submit"%>
    <%= hidden_field_tag(:category, 'restaurant') %>
  <% end %>
  </div>
</div>
